<!-- FOOTER START  -->
<footer> 
    <div class="containers1 mt-4">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center mt-1 ">

                <p class="text-white-50">Copyright © 2023. Created by<i class="ri-heart-3-fill text-danger"></i> Keval Ranpariya <i class="ri-heart-3-fill text-danger"></i></p>
    
            </div>

            <div class="footer2 d-flex mt-2 mb-5 p-2 justify-content-center align-items-center">

                <a href="#" class="text-white"> <img src="images/1f3e4.svg" alt="" width="18px"> Contact US | &nbsp;</a>
                <a href="#" class="text-white"> <img src="images/26fd.svg" alt="" width="18px"> Request Us |&nbsp; </a>
                <a href="#" class="text-white"> <img src="images/1f4d4.svg" alt="" width="18px"> DMCA |&nbsp; </a>
                <a href="#" class="text-white"> <img src="images/1f3c6.svg" alt="" width="18px"> About Us | &nbsp; </a>
                <a href="#" class="text-white"> <img src="images/1f4f0.svg" alt="" width="18px"> Sitemap  |&nbsp; &nbsp;</a>
    
            </div>


        </div>
    </div>
</footer>
<!-- FOOTER END  -->



<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>