<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegamovies</title>
    <link rel="stylesheet" href="/css/media-max.css">
    <link rel="stylesheet" type="text/css" href="remixicon/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
    <!-- HEADER START  -->

    <header class="containers1 poistion-reletive ">
        <div class="m-3">
            <div class="d-flex justify-content-between align-items-center">

                <div class="toggle">
                    <i class="ri-menu-2-line text-white"></i>
                </div>

                <div class="logo-img">
                    <a href="/">
                        <img src="/img/logo.png" width="300px" alt="logo">
                    </a>
                </div>
                <div>

                    <form class="d-flex" role="search" action="/search">
                        <input class="form-control me-2" style="width: 500px;
                        height: 40px;
                        border-radius: 20px;
                        background-color: black;
                        color: white;" type="search" placeholder="Search" aria-label="Search" name="s">
                    </form>

                </div>

                <div>
                    <a href="/"><i class="bi bi-cart-check-fill mx-2" style="color: white;
                        font-size: 22px;"></i></a>
                    <a href="/login"><i class="bi bi-person-fill" style="color: white;
                        font-size: 22px;"></i></a>
                </div>
            </div>
        </div>
    </header>

    <!-- HEADER END  -->
    <main>

        <!-- MENUES START -->
        <div class="containers1">
            <div class=" menu1 rounded">
                <div class="d-felx row">
                    <div>
                        <div class="heding1">
                            <ul class="d-flex justify-content-center">
                                <li>
                                    <a href="/filter/Action" class=" bg-danger rounded vega-btn">Action</a>
                                    <a href="/filter/Adventure" class="bg-danger rounded vega-btn">Adventure</a>
                                    <a href="/filter/Comedy" class="bg-danger rounded vega-btn">Comedy</a>
                                    <a href="/filter/Crime" class=" bg-danger rounded vega-btn">Crime</a>
                                    <a href="/filter/Romance" class="bg-danger rounded vega-btn">Romance</a>
                                    <a href="/filter/Animation" class=" bg-danger rounded vega-btn">Animation</a>
                                    <a href="/filter/Thriller" class="bg-danger rounded vega-btn">Thriller</a>
                                    <a href="/filter/Superhero" class="bg-danger rounded vega-btn">Superhero</a>

                                </li>

                            </ul>

                            <ul class="d-flex justify-content-center">
                                <li>
                                    <a href="/filter/English" class="bg-danger rounded vega-btn">English</a>
                                    <a href="/filter/Hindi" class="bg-danger rounded vega-btn">Hindi</a>
                                    <a href="/filter/Gujarati" class="bg-danger rounded vega-btn">Gujarati</a>

                                </li>
                            </ul>
                        </div>
                    </div>